* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  position: relative;
  height: 50vh;
  background-image: url("./assets/main-header-logo.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  background-position: center;
  place-content: space-between;
  transition: background-position 0.5ms ease-out;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Para escurecer a imagem */
  z-index: -1;
}

header h1 {
  font-size: 48px;
  animation: bounce 2s infinite;
}
.logo {
  display: flex;
  font-size: 48px;
  width: 100vw;
  height: 10vh;
  animation: bounce 2s infinite;
  flex-direction: row;
  margin-top: 280px;
  justify-content: flex-start;
  align-items: center;
}
nav {
  display: block;
  position: relative;
  margin-left: 27%;
  font-size: 20px;
  align-content: center;
}

section {
  padding: 60px 20px;
}

header .logo h1 {
  font-size: 28px;
  animation: bounce 2s infinite;
  display: flex;
}
header img {
  display: flex;
  position: relative;
  height: 100px;
  margin: 15% 5%;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

header nav ul li a:hover {
  color: #00ccff;
  transform: scale(1.1);
}
h2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 26px;
}
.service-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -250px;
  position: relative;
}
#servicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  align-content: space-around;
  flex-direction: column;
}
.card {
  padding: 20px;
  margin-top: 23%;
}
.card img {
  display: flex;
  width: 250px;
  border: 1px black solid;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contato-form {
  display: flex;
  margin: 1% 43%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  border: 1px solid red;
  border-radius: 10px;
  width: 247px;
  height: 330px;
  text-align: center;
}
.table-container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

td {
  background-color: #f9f9f9;
}

tr:nth-child(even) td {
  background-color: #f2f2f2;
}

tr:hover td {
  background-color: #ddd;
}
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  animation: bounce 2s infinite;
}

.whatsapp-icon img {
  width: 40px;
  height: 40px;
}

.whatsapp-icon:hover {
  transform: scale(1.1);
}

.section {
  width: 100%;
  height: 60vh;

  h2 {
    font-size: clamp(0.9em, 1vw, 2em);
    margin: 0.2em 0;
    font-weight: 500;
  }
}

button {
  border: none;
  cursor: pointer;
  color: white;
  background: none;
  transition: all 0.3s ease-in-out;
}
#devcontact a{
  text-decoration: none;
  color: white;
}
#arrastrar{
  width: 28px;
    background-color: white;
    border: 1px red solid;
    border-radius: 23px;
}

@media (max-width: 600px) {
  .whatsapp-icon {
    width: 50px;
    height: 50px;
  }

  .whatsapp-icon img {
    width: 35px;
    height: 35px;
  }
}

/* Animações no cabeçalho */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Banner */
.banner {
  height: 100vh;
  background: url("banner.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  text-align: center;
  color: #fff;
  animation: fadeIn 2s ease-in-out;
}

.banner h2 {
  font-size: 48px;
}

.btn {
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #00ccff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn a {
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  background-color: #0099cc;
  transform: scale(1.05);
}
.btn:active {
  background-color: #003366;
}

/* Seção de Imóveis */
.imoveis {
  background-color: #f0f0f0;
  padding: 40px 5px;
  text-align: center;
}

.grid-imoveis {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.imovel {
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-in-out;
}

.imovel img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.imovel h3 {
  margin: 15px 0 10px;
  font-size: 24px;
}

.imovel p {
  margin: 0 0 15px;
  font-size: 18px;
}

.imovel .btn {
  margin-bottom: 15px;
}
.carousel-container {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 0.5s ease;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Seções gerais */
section {
  padding: 0px 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #003366;
  color: #fff;
}

@media screen and (max-width: 870px) {
  .logo {
    display: flex;
    width: 100%;
    height: -webkit-fill-available;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 222px;
  }
  header {
    height: 50vh;
    width: 210%;
  }
  nav {
    display: flex;
    position: relative;
    margin-left: 70%;
    font-size: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 542px;
    height: 60px;
  }
  .imoveis {
    display: flex;
    flex-direction: column;
    width: 206%;
    height: 50vh;
  }
  #servicos {
    display: flex;
    width: 206%;
    height: 50vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .service-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100vw;
    margin: auto 100px;
  }
  #servicos h2 {
    display: flex;
  }
  #sobre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 208%;
    height: fit-content;
    align-items: center;
  }
  .contato-form {
    display: flex;
  }
  .whatsapp-icon {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 170px;
    right: 50px;
  }
  footer {
    display: block;
    width: 207vw;
    height: auto;
    text-align: center;
  }
}
